HateSpeech.dtd

<!ENTITY name "HateSpeechTask">

<!--
	~ Anna Astori
	~ Annie Thorburn
	~ Jake Freyer
	~ Jose Molina (josemolina@brandeis.edu)
-->

<!-- the umbrella tag for all things that are not hate speech -->
<!ELEMENT NonHateSpeech (#PCDATA)>
<!ATTLIST NonHateSpeech slur (none | reclamation | sarcasm | outside_ref) #IMPLIED>

<!-- the umbrella tag for all things that are hate speech -->
<!ELEMENT HateSpeech (#PCDATA)>
<!ATTLIST HateSpeech race (no | yes) #IMPLIED>
<!ATTLIST HateSpeech religion (no | yes) #IMPLIED>
<!ATTLIST HateSpeech class (no | yes) #IMPLIED>
<!ATTLIST HateSpeech gender (no | yes) #IMPLIED>
<!ATTLIST HateSpeech orientation (no | yes) #IMPLIED>
<!ATTLIST HateSpeech nationality (no | yes) #IMPLIED>
<!ATTLIST HateSpeech disability (no | yes) #IMPLIED>
<!ATTLIST HateSpeech age (no | yes) #IMPLIED>
<!ATTLIST HateSpeech ideology (no | yes) #IMPLIED>

<!ELEMENT Target (#PCDATA)>
<!ATTLIST Target group (Black people | White people | Muslims | Jews | Immigrants | Women | Feminists | ...)>
<!ATTLIST Target slur (no | yes) #IMPLIED>

<!ELEMENT Stereotype (#PCDATA)>
<!ATTLIST Stereotype type (physical | mental | behavioral)>

<!ELEMENT Sentiment (#PCDATA)>
<!ATTLIST Sentiment judgement (no | yes)>
<!ATTLIST Sentiment incitement (no | yes)>
<!ATTLIST Sentiment prediction (no | yes)>
