HateSpeech.dtd

<!ENTITY name "HateSpeech_1.0">

<!--
	~ Anna Astori
	~ Annie Thorburn
	~ Jake Freyer (freyer@brandeis.edu)
	~ Jose Molina (josemolina@brandeis.edu)
-->

<!-- a nonconsuming tag marking a tweet as hate speech -->
<!ELEMENT HateSpeech (#PCDATA)>
<!ATTLIST HateSpeech spans #IMPLIED>
<!ATTLIST HateSpeech race (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech religion (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech class (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech gender (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech genderID (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech orientation (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech immigrant_status (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech nationality (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech disability (no | yes) #IMPLIED "no">
<!ATTLIST HateSpeech age (no | yes) #IMPLIED "no">

<!-- consuming tag for a group of people mentioned, whether targeted or not -->
<!ELEMENT Group (#PCDATA)>
<!ATTLIST Group target (no | yes) #IMPLIED>
<!ATTLIST Group slur (hateful | reclamation | sarcasm | outside_ref)>
<!ATTLIST Group race (Black | White | Asian | Latino | Native_American | other)>
<!ATTLIST Group religion (Muslims | Jews | Protestants | Catholics | other)>
<!ATTLIST Group class (Rich | Poor | other)>
<!ATTLIST Group gender (Women | Men | Nonbinary | other)>
<!ATTLIST Group genderID (Trans | other)>
<!ATTLIST Group orientation (Gay | Bi | Pan | other)>
<!ATTLIST Group immigrant_status (Immigrants | Refugees | other)>
<!ATTLIST Group nationality CDATA>
<!ATTLIST Group disability (Mental | Physical | other)>
<!ATTLIST Group age (Old | Young | other)>
<!ATTLIST Group other CDATA>

<!-- tag for a phrase or statement ascribing stereotypical qualities to a target group -->
<!ELEMENT Stereotype (#PCDATA)>
<!ATTLIST Stereotype type (physical | mental | behavioral | cultural) #REQUIRED>

<!-- tag for a sentiment expressed toward a target group -->
<!ELEMENT Sentiment (#PCDATA)>
<!ATTLIST Sentiment judgement (no | yes)>
<!ATTLIST Sentiment incitement (no | yes)>
<!ATTLIST Sentiment warning (no | yes)>
