HateSpeech.dtd

<!ENTITY name "HateSpeechTask">

<!--
	~ Anna Astori
	~ Annie Thorburn
	~ Jake Freyer
	~ Jose Molina (josemolina@brandeis.edu)
-->

<!-- a nonconsuming tag marking an element as hate speech -->
<!ELEMENT HateSpeech (#PCDATA) EMPTY>
<!ATTLIST HateSpeech race (no | yes) #IMPLIED>
<!ATTLIST HateSpeech religion (no | yes) #IMPLIED>
<!ATTLIST HateSpeech class (no | yes) #IMPLIED>
<!ATTLIST HateSpeech gender (no | yes) #IMPLIED>
<!ATTLIST HateSpeech genderID (no | yes) #IMPLIED>
<!ATTLIST HateSpeech orientation (no | yes) #IMPLIED>
<!ATTLIST HateSpeech nationality (no | yes) #IMPLIED>
<!ATTLIST HateSpeech disability (no | yes) #IMPLIED>
<!ATTLIST HateSpeech age (no | yes) #IMPLIED>

<!ELEMENT Group (#PCDATA)>
<!ATTLIST Group target (no | yes) #IMPLIED>
<!ATTLIST Group slur (hateful | reclamation | sarcasm | outside_ref)>
<!ATTLIST Group race (Black | White | Asian | Latino | Native_American | other)>
<!ATTLIST Group religion (Muslims | Jews | Protestants | Catholics | other)>
<!ATTLIST Group class (rich | poor | other)>
<!ATTLIST Group gender (Women | Men | Nonbinary | other)>
<!ATTLIST Group genderID (Trans | other)>
<!ATTLIST Group orientation (Gay | Bi | Pan | other)>
<!ATTLIST Group nationality (Immigrants | Refugees | other)>
<!ATTLIST Group disability (mental | physical | other)>
<!ATTLIST Group age (old | young | other)>
<!ATTLIST Group other CDATA>

<!ELEMENT Stereotype (#PCDATA)>
<!ATTLIST Stereotype type (physical | mental | behavioral) #REQUIRED>

<!ELEMENT Sentiment (#PCDATA)>
<!ATTLIST Sentiment judgement (no | yes)>
<!ATTLIST Sentiment incitement (no | yes)>
<!ATTLIST Sentiment warning (no | yes)>
